<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div id="layout">

<input id="search_name" placeholder="search name">
    <button onclick="search()">Search</button><br><br>
<input id="first_name" placeholder="first name">
<input id="last_name" placeholder="first name">
<button onclick="create()">Create</button><br><br>
<div id="edit"></div>
<table border="1px">
    <tr>
        <td>id</td>
        <td>first name</td>
        <td>lastname</td>
        <td colspan="2">action</td>
    </tr>
    <tbody id="tbody"></tbody>
</table>
<script src="ajax.js"></script>
</div>
</body>
</html>